<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
		<!-- Include Resource Stylesheets -->
		<!--<link rel="stylesheet" type="text/css" href="../resources/css/foundation.min.css"/>-->
		<link rel="stylesheet" type="text/css" href="<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
		
    <!-- Include font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet">

		<!--
			Include Resource Javascript

			NOTE: These are for handling things outside of the scope of AmplitudeJS
		-->
		<!--<script type="text/javascript" src="../resources/js/jquery.js"></script>-->
		<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>-->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js">
		<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>

		<!-- Include Amplitude JS -->
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@latest/dist/amplitude.min.js"></script>


		<!--
			Include UX functions JS

			NOTE: These are for handling things outside of the scope of AmplitudeJS
		-->
		<script type="text/javascript" src="js/functions.js"></script>

		<!-- Include Style Sheet -->
		<link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
